## 연속 데이터 타입

- 타입
    - 연속 데이터 타입(값을 여러 개를 들고 있다)
    
|타입명|기호|특징|
|:---:|:---:|:---|
|리스트|[]| - List()<br>- 순서(인덱스)가 있다<br>- 값 중복 OK |
|딕셔너리|{}| - Dict()<br>- 순서 없다<br>- 키와 값의 세트 구성<br>- 키 중복 X|
|튜플|()| - Tuple()<br>- 리스트와 거의 다 동일하나 수정, 삭제 불가<br>- read only(읽기 전용)<br>- 값을 단순히 묶는다|
|집합|{}| - Set()<br>- 중복 제거, 순서 없음|

- ** 향후 연속 데이터 타입 **

|타입명|기호|특징|
|:---:|:---:|:---|
|배열|ndarray|- numpy(수학/과학용)의 타입, 데이터 분석, 머신러닝, 구성원의 타입 동일해야 함|
|시리즈|Series|- 1차원 구조 데이터, pandas, 데이터 분석, 머신러닝, 구성원의 타입 동일해야 함|
|데이터프레임|DataFame|- 2차원 구조 데이터, pandas, 데이터 분석, 머신러닝|
|텐서|Tensor|- 딥러닝의 자료구조, tensorflow, pyTorch|

### 리스트

In [1]:
# 1. 리스트의 생성 및 기본 성질
# 동적 생성 : 공간을 먼저 만들고, 향후 데이터를 동적 추가
a = list()
# 값 자체를 확인, 타입 확인, 멤버 수 확인
a, type(a),len(a)

([], list, 0)

In [2]:
# 데이터를 단순하게 넣어서 만드는 것은 가능, 구조가 복잡한 데이터면 구성하기 어려움
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [3]:
# 정적 생성 : 만들 때 이미 데이터를 넣어서 만듦
a = []
a, type(a), len(a)

([], list, 0)

In [4]:
# 데이터가 복잡한 구조를 바로 넣으면서 생성하면
a = [
    {
        'code' : 'USD',
        'price' : 1180
    },
    {
        'code' : 'EUR',
        'price' : 1430
    },
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'price': 1430}]

In [5]:
# 임시 구성
numbers = [1,3,5,7,9]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [6]:
foods = ['돈까스','햄버거','라면']
foods, type(foods), len(foods)

(['돈까스', '햄버거', '라면'], list, 3)

In [7]:
# 멤버의 구성원의 타입이 다르다 -> OK -> 주소만 담으니까
# 구성원 간의 차원이 달라서 OK
data_mixs = [1,2,3,'햄버거', [3.14, '부산대역'] ]
data_mixs, type(data_mixs), len(data_mixs)

([1, 2, 3, '햄버거', [3.14, '부산대역']], list, 5)

In [8]:
# 2. 리스트 안에 특정 멤버값을 획득 => 인덱싱
# 정방향 인덱스는 0부터 출발, 3이라고 쓰면 => 4번째 멤버
data_mixs[3]

'햄버거'

In [9]:
# 역방향은 -1부터
data_mixs[-1]

[3.14, '부산대역']

In [10]:
# 5 * 3
len(data_mixs) * 3

15

In [11]:
len(data_mixs[-1]) * 3

6

In [12]:
# 슬라이싱
# 변수[시작인덱스:끝인덱스:step]
numbers

[1, 3, 5, 7, 9]

In [13]:
# 3,5,7만 획득
numbers[1:-1]

[3, 5, 7]

In [14]:
# 1,5,9을 획득
numbers[::2]

[1, 5, 9]

In [15]:
# 4. 수정 -> 원본 변경
numbers[0]

1

In [16]:
# 멤버 하나 수정
numbers[0] = 100
numbers

[100, 3, 5, 7, 9]

In [17]:
# 여러 개 수정, 개수에 따라 다양하게 변경됨
numbers[1:-1]

[3, 5, 7]

In [18]:
numbers[1:-1] = ["50"]
numbers

[100, '50', 9]

In [19]:
# 연속형 데이터만 대입 가능!
# 기존 데이터는 날라가고, 새로운 데이터가 리스트 형태에 맞춰서 삽입
# 정확하게 계산하지 않으면 의도하지 않은 결과를 얻을 수 있음
# 원본이 훼손되기 때문에 신중하게 처리, 사본떠서 작업
numbers[1:-1] ="50"    # 원본 수정
numbers[:][1:-1] ="50"   # 사본 수정
numbers

[100, '5', '0', 9]

In [20]:
# 5. 추가
# + 
# .append()
# .extend()

In [21]:
# + => 이어붙이기
a = [1,2,3]
b = [4,5,6]
# 리스트 + 리스트는 더해서 사본을 리턴, 원본 보존
a, b, a+b, a, b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3], [4, 5, 6])

In [22]:
# .append() : 추가하기 => 대상 리스트의 멤버로 추가 => 원본 수정
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [23]:
c = [1,2,3]
a.append(c)
a

[1, 2, 3, [4, 5, 6], [1, 2, 3]]

In [24]:
d = [4,5,6]
d.append(a)
d

[4, 5, 6, [1, 2, 3, [4, 5, 6], [1, 2, 3]]]

In [25]:
a = [1,2,3]
a

[1, 2, 3]

In [26]:
# .extend() => 동급으로 추가, 이어붙임 => 원본조작
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [27]:
#6. 삭제

In [28]:
# 파이썬에서 제공하는 삭제법
del a[0]
a

[2, 3, 4, 5, 6]

In [29]:
del a[:2]
a

[4, 5, 6]

In [30]:
a.clear()
a

[]

In [31]:
del a

In [32]:
a

NameError: name 'a' is not defined

In [ ]:
#7. 반복문과 같이 처리, 리스트 내포 방식

### Dictionary

- 딕셔너리의 모습이 타언어에서는
- Java:Map, Javascript:js객체, ios:NSDictionary, 데이터형식:json
- 호환성이 좋음(타언어와 통신으로 연동시)

In [ ]:
# 1. 딕셔너리 생성
# 정적 구성, 멤버를 직접 셋업하면서 생성하는 방식
dic = {}
dic, type(dic), len(dic)

In [ ]:
# 동적 구성, 차후에 데이터가 세팅된다
dic = dict()
dic, type(dic), len(dic)

In [33]:
# 2. 기본 생성
# 키:값, 키:값...
# 키는 함수를 제외하고는 이론적으로 모든 타입이 가능
# 문자열, 수치를 주로 사용
exchanges = {
    "na":"미국",
    "code":"USD",
    "buy":1165.10,
    "sell":1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [34]:
# 3. 인덱싱 : 변수명[ 키 ]
# 키는 특정 데이터를 가르키는 고유 값 <- 중복되면 안됨
exchanges["na"]

'미국'

In [35]:
# na라는 키가 있으면 수정, 없으면 추가
exchanges["na"] = 'America'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [36]:
# 추가
exchanges[1] = 'EUR'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [37]:
# 5. 슬라이싱 -> X : 순서가 없다

In [38]:
# 6. 형태 밑 데이터 확인
# 키만 : keys
exchanges.keys()

dict_keys(['na', 'code', 'buy', 'sell', 1])

In [39]:
# 값만 : values
exchanges.values()

dict_values(['America', 'USD', 1165.1, 1185.48, 'EUR'])

In [40]:
# 키, 값을 묶어서 : items
exchanges.items()

dict_items([('na', 'America'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR')])

In [41]:
# 이것이 프로그램적으로는 더 안정적, 해당 키가 없을 때
exchanges.get("na")

'America'

In [42]:
exchanges.get("na1")

In [43]:
exchanges["na1"]

KeyError: 'na1'

In [44]:
#7. 삭제
del exchanges['na']

In [45]:
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

### 튜플

In [46]:
# 1. 튜플 생성
# 정적
tu=()
tu, type(tu), len(tu)

((), tuple, 0)

In [47]:
# 동적
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [48]:
# 2. 기본 데이터 설정 및 생성
# 멤버가 1개이면 반드시 ,를 붙임
tu = (1,)
tmp = (1) # 의도하지 않은 타입으로 처리됨(여기에선 int 정수로 처리됨)
type(tu), type(tmp)

(tuple, int)

In [50]:
tu = (1,2,3,4,5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [51]:
# 값 변경, 데이터 추가, 데이터 삭제 X
# readonly, imutable

In [52]:
# 3. 인덱싱, 슬라이싱 (리스트와 동일함)

In [54]:
tu[0], tu[:2]

(1, (1, 2))

In [55]:
# 튜플을 변수로 받기(리스트도 동일), 멤버 수와 동일하게
a,b,c,d,e = tu

In [56]:
a,b,c,d,e

(1, 2, 3, 4, 5)

In [57]:
# 동일 숫자로 변수를 배치하지 않으면 오류
a,b,c,d= tu

ValueError: too many values to unpack (expected 4)

In [64]:
# _ 변수인데 쓰지 않음, 더미처리(관습적 표현)
a,b,c,d,_ = tu
_

5

In [59]:
# 줄여서 받음
a,b,c,d = tu[:-1]
a,b,c,d

(1, 2, 3, 4)

In [65]:
# 튜플을 가장 많이 사용하는 곳은 함수의 리턴값이 여러 개일 때 
# 여러 개를 리턴하면 튜플로 반환됨
def test():
        return 1,3

In [66]:
a,b = test()

In [67]:
print(a,b)

1 3

### 집합
- 중복 제거
- { 값, 값, 값... }
- 중간적인 형태

In [68]:
a= list(set("helloworld"))
a

['r', 'o', 'l', 'w', 'd', 'h', 'e']

In [69]:
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [71]:
# 합집합, 교집합, 차집합
a = set( [4,7,10,2,1,2,4,67,80,3,4 ] )
b = set( [100,23,52,62,37,85,55,79,4,1,2])
a,b

({1, 2, 3, 4, 7, 10, 67, 80}, {1, 2, 4, 23, 37, 52, 55, 62, 79, 85, 100})

In [72]:
# 합집합
a.union(b)

{1, 2, 3, 4, 7, 10, 23, 37, 52, 55, 62, 67, 79, 80, 85, 100}

In [73]:
# 교집합
a.intersection(b)

{1, 2, 4}

In [74]:
# 차집합
a.difference(b), b.difference(a)
a,b

({1, 2, 3, 4, 7, 10, 67, 80}, {1, 2, 4, 23, 37, 52, 55, 62, 79, 85, 100})

In [ ]:
# 차집합2
a.difference(b), b.difference(a)
a,b